node_modules/
dist/
coverage/
.DS_Store
*.log
.env
.env.*
!.env.example
.data/
.anvesh/
e2e/.tmp/
*.tsbuildinfo
.nyc_output/
.idea/
.vscode/
!.vscode/extensions.json
tmp/
reports/
*.iml
/.turbo/

# Terraform & Secrets
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
.terraform/
.terraform.lock.hcl
*.pem

